* {
    margin: 0;
}
html, body {
    height: 100%;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}
footer{
    background-color: darkgrey;
    text-align: center;
    height: 100px;
}