$icon-size: 1.5em;

.social-icons a {
  font-size: $icon-size * 1.375;
  width: $icon-size;
  height: $icon-size;
  line-height: $icon-size;
  text-align: center;
  $transition-time: 0.3s;
  $transition-curve: ease-in-out;
  transition: background-color $transition-time $transition-curve;
  margin: $icon-size * 0.1;
  text-decoration: none;
}

.social-icons .icon-large {
  $icon-size: $icon-size * 5/4;
  font-size: $icon-size * 1.375;
  width: $icon-size;
  height: $icon-size;
  line-height: $icon-size;
  margin: $icon-size * 0.078125;
}

.social-icons a {
  &:hover, &:active {

    &.icon-aboutme {
      background-color: #044A75;
    }
    &.icon-facebook {
      background-color: #3B5998;
    }
    &.icon-flickr {
      background-color: #FC1685;
    }
    &.icon-github {
      background-color: #070709;
    }
    &.icon-gitlab {
      background-color: #E24329;
    }
    &.icon-google-plus {
      background-color: #DD4B39;
    }
    &.icon-instagram {
      background-color: #124D7D;
    }
    &.icon-lastfm {
      background-color: #B00000;
    }
    &.icon-linkedin {
      background-color: #0077B5;
    }
    &.icon-reddit {
      background-color: #FF5700;
    }
    &.icon-snapchat-ghost {
      background-color: #FFFC00;
      path {
        stroke: black;
        stroke-width: 15;
      }
    }
    &.icon-soundcloud {
      background-color: #FF4A01;
    }
    &.icon-spotify {
      background-color: #1DD155;
    }
    &.icon-rss {
      background-color: #F16F31;
    }
    &.icon-steam {
      background-color: #17191E;
    }
    &.icon-tumblr {
      background-color: #2F3D53;
    }
    &.icon-twitter {
      background-color: #55ACEE;
    }
    &.icon-vine {
      background-color: #01D499;
    }
    &.icon-youtube {
      background-color: #E21D17;
    }
  }
}