span.wave {
  animation-name: wave-animation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(12deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  25% {
    transform: rotate(11deg);
  }
  30% {
    transform: rotate(-11deg);
  }
  35% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.easter-egg-rotate {
  animation-name: rotate-animation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: 300s;
}

@keyframes rotate-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    margin: 0 -0.25em;
    padding: 0 0.25em;
    height: 0.25em;
    width: 100%;
    transform: skew(-1deg) rotate(-1deg);
    transform-origin: right center;
  }

  &::after {
    content: '';
    display: table;
  }

  &:nth-of-type(4n + 1)::before {
    background: rgba(#faa05a, 0.7);
  }

  &:nth-of-type(4n + 2)::before {
    background: rgba(#32d296, 0.7);
  }

  &:nth-of-type(4n + 3)::before {
    background: rgba(#1e87f0, 0.7);
  }

  &:nth-of-type(4n + 4)::before {
    background: rgba(#f0506e, 0.7);
  }
}
