:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}

html {
  background: #fff;

  &.uk-light {
    background: #161716;
  }
}

* {
  transition: 0.2s ease-out;
  transition-property: background, background-color, border-top-color,
    border-left-color, border-bottom-color, border-right-color;
}

html,
body {
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

body > footer {
  padding-bottom: 0;
  padding-bottom: env(safe-area-inset-bottom);
}

a {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
}

.uk-table td,
.uk-table th {
  span {
    display: block;
    font-size: 90%;
  }
}

.text-double {
  font-size: 200%;
}

.emoji-color-reset {
  color: initial;
}

.uk-light .emoji-color-reset {
  color: white;
}

// Twitter Bootstrap's implementation
// https://github.com/twbs/bootstrap/blob/7e2741eb1074afc66bdf2fb5c2b65d476cf7f37e/less/scaffolding.less#L121
// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

main.uk-container {
  // need to reset the padding from the defaults in UIKit (3.0.0-beta.30)
  padding-left: 15px;
  padding-right: 15px;
  padding-left: calc(15px + env(safe-area-inset-left));
  padding-right: calc(15px + env(safe-area-inset-right));

  @media (min-width: 640px) {
    padding-left: 30px;
    padding-right: 30px;
    padding-left: calc(30px + env(safe-area-inset-left));
    padding-right: calc(30px + env(safe-area-inset-right));
  }

  @media (min-width: 960px) {
    padding-left: 40px;
    padding-right: 40px;
    padding-left: calc(40px + env(safe-area-inset-left));
    padding-right: calc(40px + env(safe-area-inset-right));
  }
}

.uk-navbar-container {
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.uk-light .uk-navbar-container:not(.uk-navbar-transparent) {
  background: #222;
}

.small-caps {
  font-variant-caps: all-small-caps;
}

details > summary {
  cursor: pointer;
}

.uk-icon-button {
  transition: none;
}

.uk-light pre {
  border-color: rgba(255, 255, 255, 0.2);
}
