:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;

  --nc-font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  @supports (font-variation-settings: normal) {
    --nc-font-sans: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }

  @supports (font-variation-settings: 'slnt' 0) {
    --nc-font-sans: 'Inter var experimental', -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
  }

  --nc-tx-1: #333; // Heading text color
  --nc-tx-2: #555; // Body text color
  --nc-tx-3: #777; // Tertiary text color
  --nc-bg-1: #ffffff; // Base background color
  --nc-bg-2: #f6f8fa; // Slightly darker background color
  --nc-bg-3: #e5e7eb; // Even slightly darker background color
  --nc-lk-1: #0e75dd; // Action color for links and buttons
  --nc-lk-2: #0957a5; // Link and buttons on mouse hover and active
  --nc-lk-tx: #ffffff; // Text color for link buttons, or cases where link color is used as a background
  --nc-ac-1: #39f; // Accent background color for <mark> and text selection background
  --nc-ac-2: #e6143a; // Accent background color for <em>
  --nc-ac-tx: #ffffff; // Text color when accent is used as a background
}

@media (prefers-color-scheme: dark) {
  :root {
    --nc-tx-1: #ffffff;
    --nc-tx-2: #cccccc;
    --nc-tx-3: #999999;
    --nc-bg-1: #161716;
    --nc-bg-2: #232423;
    --nc-bg-3: #363736;
    --nc-lk-1: #ffffff;
    --nc-lk-2: #ffffff;
    --nc-lk-tx: #161716;
    --nc-ac-1: #39f;
    --nc-ac-2: #f0506e;
    --nc-ac-tx: #ffffff;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

* {
  transition: 0.2s ease-out;
  transition-property: background, background-color, border-color,
    border-top-color, border-left-color, border-bottom-color, border-right-color;
}

pre > *,
code > * {
  transition: 0.2s ease-out;
  transition-property: color, background, background-color, border-color,
    border-top-color, border-left-color, border-bottom-color, border-right-color;
}

section {
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &:hover > a.heading-link {
    opacity: 1;
  }
}

em {
  color: var(--nc-ac-2);
}

:not(pre) > code,
:not(pre) > kbd,
:not(pre) > samp {
  color: var(--nc-ac-2);
}

a {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;

  > img {
    margin-bottom: 0;
  }

  > svg {
    fill: currentColor;
    vertical-align: middle;
    height: 1em;
    width: 1em;
  }
}

.emoji {
  color: initial;
}
img.emoji {
  margin-bottom: 0;
  vertical-align: baseline;
  text-decoration: none;
}

header > nav > ul {
  @extend .flex-wrap-space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.75rem;
  font-size: clamp(1rem, 4vw, 1.75rem);
  @media (max-width: 580px) {
    font-size: 1rem;
    font-size: clamp(1rem, 4vw, 1.75rem);
  }
}

body > header,
body > footer {
  p {
    margin: 0;
  }

  a {
    color: var(--nc-tx-2);
    @extend .text-decoration-none;
  }

  a:hover {
    color: var(--nc-tx-1);
  }
}
body > footer {
  ul {
    margin-bottom: 0;
  }
  a {
    font-size: 1.25rem;
  }
}

// brand
body > header nav > a {
  font-size: 2rem;
  font-weight: 300;
}

.heading-link {
  position: relative;
  left: 0.5rem;
  opacity: 0;
  font-size: 0.8em;
  line-height: 1.5;
  transition: opacity 0.2s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  > a {
    color: inherit;
  }

  &:hover > a.heading-link {
    opacity: 1;
  }
}

figure {
  > * {
    margin-bottom: 0.5rem;
  }

  figcaption {
    font-size: 0.875rem;
  }
}

.loading {
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid var(--nc-bg-3);
  border-top-color: var(--nc-tx-2);
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  animation: rotate 1s infinite linear;
}
