html {
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    min-height: 100%;
}

body {
  margin-bottom: 3em;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 0.5em 0;
    width: 100%;

    p {
        margin: 0;
    }

    a.uk-icon-hover {
        margin-left: 0.25em;
        margin-right: 0.25em;
    }
}

.uk-table td, .uk-table th {
  border-bottom: 1px solid #E5E5E5;
  vertical-align: middle;

  span {
    display: block;
    font-size: 90%;
  }
}

.uk-overflow-container>.uk-table>thead>tr>th, .uk-overflow-container>.uk-table>thead>tr>td,
.uk-overflow-container>.uk-table>tbody>tr>th, .uk-overflow-container>.uk-table>tbody>tr>td,
.uk-overflow-container>.uk-table>tfoot>tr>th, .uk-overflow-container>.uk-table>tfoot>tr>td {
  white-space: nowrap;
}

.list-inline li {
    display: inline-block;
    margin: 1em;
}

.uk-navbar-brand > img {
    height: 30px;
    width: 30px;
}

.uk-panel-teaser {
    text-align: center;

    @media (min-width: 768px) {
        img {
            max-height:300pt;
        }
    }
}

.text-double {
  font-size: 200%;
}

// Twitter Bootstrap's implementation
// https://github.com/twbs/bootstrap/blob/7e2741eb1074afc66bdf2fb5c2b65d476cf7f37e/less/scaffolding.less#L121
// Only display content to screen readers
//
// See: http://a11yproject.com/posts/how-to-hide-content

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

@media (min-width:960px) {
    .align-large-left {
        margin-right: 15px;
        float: left
    }

    .align-large-right {
        margin-left: 15px;
        float: right
    }

    .large-container-center {
        margin-left: auto;
        margin-right: auto;
    }
}