@mixin icon($multiplier: 1, $background: false) {
  $size: $multiplier * 1.5rem;

  & > svg {
    height: $size * 0.8;
    width: $size * 0.8;
  }

  @if $background {
    width: $size * 1.375;
    height: $size * 1.375;
    margin: $size * 0.1;
  }
}

.icon {
  @include icon();
}

.icon-2 {
  @include icon(2);
}

.icon-back {
  @include icon(1.5, true);
}

.icon-back-large {
  @include icon(2.5, true);
}

.icon-back,
.icon-back-large {
  &:hover,
  &:active {
    color: white;

    &.icon-applemusic {
      background-color: #000;
    }

    &.icon-codepen {
      background-color: #000;
    }

    &.icon-codesandbox {
      background-color: #000;
    }

    &.icon-dev-dot-to {
      background-color: #0a0a0a;
    }

    &.icon-facebook {
      background-color: #3b5998;
    }

    &.icon-flickr {
      background-color: #0063dc;
    }

    &.icon-github {
      background-color: #181717;
    }

    &.icon-gitlab {
      background-color: #e24329;
    }

    &.icon-goodreads {
      background-color: #663300;
    }

    &.icon-instagram {
      background-color: #e4405f;
    }

    &.icon-keybase {
      background-color: #33a0ff;
    }

    &.icon-lastfm {
      background-color: #d51007;
    }

    &.icon-linkedin {
      background-color: #0077b5;
    }

    &.icon-mastodon {
      background-color: #3088d4;
    }

    &.icon-mixcloud {
      background-color: #314359;
    }

    &.icon-snapchat {
      background-color: #fffc00;
      stroke: #000000;
    }

    &.icon-soundcloud {
      background-color: #ff3300;
    }

    &.icon-spotify {
      background-color: #1ed760;
    }

    &.icon-rss {
      background-color: #ffa500;
    }

    &.icon-steam {
      background-color: #000000;
    }

    &.icon-stackoverflow {
      background-color: #fe7a16;
    }

    &.icon-strava {
      background-color: #fc4c02;
    }

    &.icon-trakt {
      background-color: #ed1c24;
    }

    &.icon-twitter {
      background-color: #1da1f2;
    }

    &.icon-youtube {
      background-color: #ff0000;
    }
  }
}
