.headshot {
  background: url(/assets/images/headshot.jpg) no-repeat center center;
  background-size: cover;
  $size: 300px;
  height: $size;
  width: $size;
  border: 1px white solid;

  @media (max-width: 374px) {
    $size: 250px;
    height: $size;
    width: $size;
  }
}