// This is for making a formatted LaTeX logo
// http://edward.oconnor.cx/2007/08/tex-poshlet
// Uses 'sub' and 'sup' classes of a <span> instead of <sub> and <sup>

.latex .sub,
.latex .sup {
  text-transform: uppercase;
}

.latex .sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.latex,
.latex .sub {
  font-size: 1em;
}

.latex .sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}
