div[itemprop='articleBody'] > p:first-child {
  font-size: 1.5rem;
}

.video-container {
  max-width: 560px;

  & > div {
    position: relative;
    padding-bottom: 56.25%; // 16:9
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.grid-thumbs {
  display: grid;
  justify-content: center;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(min(10rem, 100%), 1fr));
}
