{% if site.isProduction %}
  <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "9a2b022749ad488d82d5d5538e6eafd2","spa":false}'></script><!-- End Cloudflare Web Analytics -->
{% endif %}
