<aside class="page-author" aria-label="Author">
  <div>
    <img
      src="{{ site.author.image | url }}"
      alt="Profile photo"
      itemprop="image"
      class="profile"
      loading="lazy"
    />
  </div>
  <div>
    <h2 itemprop="author">{{ site.author.name }}</h2>
    <p>{{ site.author.bio }}</p>
    <address>
      <div>
        <a
          href="{{ site.author.mastodon }}"
          class="inline-flex-center svg-margin-right"
        >
          {% icon "Mastodon", "#6364FF" %}Mastodon
        </a>
      </div>
      <div>
        <a
          href="https://twitter.com/{{ site.author.twitter }}"
          class="inline-flex-center svg-margin-right"
        >
          {% icon "twitter", "#1DA1F2" %}Twitter
        </a>
      </div>
      <div>
        <a
          href="https://instagram.com/{{ site.author.instagram }}"
          class="inline-flex-center svg-margin-right"
        >
          {% icon "instagram", "#e4405f" %}Instagram
        </a>
      </div>
      <div>
        <a href="{{ site.author.web }}" title="{{ site.author.web }}">{{ site.author.web }}</a>
      </div>
    </address>
  </div>
</aside>
