<aside
  class="page-author"
  aria-label="Author"
  itemprop="author"
  itemscope
  itemtype="https://schema.org/Person"
>
  <div>
    <img
      src="{{ site.author.image | url }}"
      alt="Profile photo"
      itemprop="image"
      class="profile"
      loading="lazy"
    />
  </div>
  <div>
    <h2 itemprop="name">{{ site.author.name }}</h2>
    <p itemprop="description">{{ site.author.bio }}</p>
    <address>
      <div>
        <a
          href="{{ site.author.bluesky }}"
          class="inline-flex-center"
        >
          {% icon "bluesky", "#0285FF" %}Bluesky
        </a>
      </div>
      <div>
        <a
          href="{{ site.author.instagram }}"
          class="inline-flex-center"
        >
          {% icon "instagram", "#e4405f" %}Instagram
        </a>
      </div>
      <div>
        <a
          href="{{ site.author.mastodon }}"
          class="inline-flex-center"
        >
          {% icon "mastodon", "#6364FF" %}Mastodon
        </a>
      </div>
      <div>
        <a itemprop="url" href="{{ site.author.web }}">{{ site.author.web }}</a>
      </div>
    </address>
  </div>
</aside>
