{% set author = authors[author] %}
<footer class="page-author">
  <div>
    <img
      src="https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250"
      srcset="
        https://www.gravatar.com/avatar/{{ author.gravatar }}?s=250 1x,
        https://www.gravatar.com/avatar/{{ author.gravatar }}?s=500 2x,
        https://www.gravatar.com/avatar/{{ author.gravatar }}?s=750 3x
      "
      alt="Profile photo"
      itemprop="image"
      class="profile"
      loading="lazy"
    />
  </div>
  <div>
    <h2 itemprop="author">{{ author.name }}</h2>
    <p>{{ author.bio }}</p>
    <address>
      <div>
        <a
          href="https://twitter.com/{{ author.twitter }}"
          title="@{{ author.twitter }} on Twitter"
          class="svg-margin-right"
        >
          {% icon "twitter", "#1DA1F2" %}@{{ author.twitter }}
        </a>
      </div>
      <div>
        <a
          href="https://instagram.com/{{ author.instagram }}"
          title="@{{ author.instagram }} on Instagram"
          class="svg-margin-right"
        >
          {% icon "instagram", "#e4405f" %}@{{ author.instagram }}
        </a>
      </div>
      <div>
        <a href="{{ author.web }}" title="{{ author.web }}">{{ author.web }}</a>
      </div>
    </address>
  </div>
</footer>
