{% set footerLinks = findMe.feature | sort(false, true, 'title') %}
<footer class="text-center">
  <ul class="list-none text-xl" aria-label="Links">
    {%- for feature in footerLinks -%}
    <li>
      <a href="{{ feature.url | url }}" target="_blank" rel="noopener">
        {%- icon feature.icon -%}<span class="visually-hidden">{{ feature.title }}</span>
      </a>
    </li>
    {%- endfor -%}
  </ul>
  <p>
    &copy; 2014&ndash;{{ site.date.getFullYear() }} Brian Mitchell
  </p>
</footer>
