<footer class="text-center">
  <ul class="list-inline">
    {%- for feature in findMe.feature | sort(false, true, 'icon') -%}
    <li>
      <a href="{{ feature.url }}" title="{{ feature.title }}">
        {% icon feature.icon %}
      </a>
    </li>
    {%- endfor -%}
    <li>
      <a href="{{ '/feed.xml' | url }}" title="RSS Feed">{% icon "rss" %}</a>
    </li>
    <li>
      <a href="{{ '/feed.json' | url }}" title="JSON Feed">{% icon "jsonfeed" %}</a>
    </li>
  </ul>
  <p>
    &copy; 2014&ndash;<script>document.write('' + new Date().getFullYear());</script>
    Brian Mitchell
  </p>
</footer>
