<footer class="text-center">
  <ul class="list-inline">
    <li>
      <a href="https://twitter.com/BrianMitchL" title="@BrianMitchL on Twitter">
        {% icon "twitter" %}
      </a>
    </li>
    <li>
      <a href="https://github.com/BrianMitchL" title="Brian Mitchell on GitHub">
        {% icon "github" %}
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/brianscottmitchell"
        title="Brian Mitchell on LinkedIn"
      >
        {% icon "linkedin" %}
      </a>
    </li>
  </ul>
  <p>
    &copy; 2014&ndash;
    <script>
      document.write('' + new Date().getFullYear());
    </script>
    Brian Mitchell
  </p>
</footer>
