<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, viewport-fit=cover"
/>
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#f9fafb">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#27272a">
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ '/apple-touch-icon.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="{{ '/favicon-32x32.png' | url }}"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="{{ '/favicon-16x16.png' | url }}"
/>
<link rel="manifest" href="{{ '/site.webmanifest' | url }}" />
<link
  rel="stylesheet"
  href="{{ '/assets/css/style.css' | url | hashify }}"
/>
{% if page.url === '/' -%}
<link
  rel="stylesheet"
  href="{{ '/assets/css/index.css' | url | hashify }}"
/>
{%- endif %}
<link
  rel="stylesheet"
  href="{{ '/assets/fonts/satoshi/satoshi.css' | url }}"
/>
<link
  rel="stylesheet"
  href="{{ '/assets/fonts/bebas-neue/bebas-neue.css' | url }}"
/>
<link
  rel="stylesheet"
  href="{{ '/assets/fonts/berkeley-mono/berkeley-mono.css' | url }}"
/>

<title>
  {%- if metaTitle -%}
    {{ metaTitle | escape }} | {{ site.title }}
  {%- elif title -%}
    {{ title | escape }} | {{ site.title }}
  {%- else -%}
    {{ site.title }}
  {%- endif -%}
</title>
<meta name="description" content="{{ description or site.description }}" />
<meta name="author" content="{{ site.author.name }}" />
<link rel="canonical" href="{{ site.url }}{{ page.url | url }}" />
{% if tags | length > 0 %}
<meta name="keywords" content="{{ tags | join(",") }}" />
{% endif %}
<meta name="generator" content="{{ eleventy.generator }}">

<meta property="og:title" content="{{ title or site.title }}">
<meta property="og:type" content="{{ ogtype or 'website' }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:description" content="{{ description or site.description }}" />
<meta property="og:image" content="{{ site.url }}{{ page.url }}opengraph.png" />
<meta property="og:image:alt" content="Preview card for {{ title or site.title }}" />
<meta property="og:locale" content="en_US" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@{{ site.twitter }}" />
<meta
  name="twitter:title"
  content="{%- if title -%}{{ title }}{%- else -%}{{ site.title }}{%- endif -%}"
>
<meta
  name="twitter:description"
  content="{%- if description -%}{{ description }}{%- else -%}{{ site.description }}{%- endif -%}"
/>
<meta name="twitter:image" content="{{ site.url }}{{ page.url }}twitter.png" />
<meta name="twitter:image:alt" content="Preview card for {{ title or site.title }}" />

<link
  type="application/atom+xml"
  rel="alternate"
  href="{{ '/feed.xml' | url }}"
  title="{{ site.title }}"
/>
<link
  type="application/feed+json"
  rel="alternate"
  href="{{ '/feed.json' | url }}"
  title="{{ site.title }}"
/>

{% jsonLdScript meta, type, tags %}
