<nav aria-label="Primary">
  <a href="{{ '/' | url }}" class="enhance text-200">{{ site.title }}</a>
  <button
    style="float: right;"
    class="shake"
    id="fun-button"
    title="Fun Mode"
    aria-hidden="true"
    tabindex="-1"
  >
    🥳
  </button>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="list-none flex-wrap-space-between flex-direction-responsive">
    {%- for entry in navPages %}
      <li{% if entry.url == page.url %} aria-current="page"{% endif %}>
        <a href="{{ entry.url | url }}">{{ entry.title }}</a>
      </li>
    {%- endfor %}
  </ul>
</nav>
<script nomodule>
  document.getElementById('fun-button').remove();
</script>
<script type="module" async>
  {%- set js -%}
  (function () {
    let erred = false;
    const importFun = () => import('{{ '/assets/js/fun.mjs' | url | hashify }}');
    async function haveFun(e) {
      try {
        (await importFun()).default(e);
      } catch (e) {
        if (!erred) {
          console.error(e);
          alert('There was a problem starting fun mode 😭');
        }
        erred = true;
      }
    }
    const funButton = document.getElementById('fun-button');
    if (funButton) {
      funButton.addEventListener('mouseover', importFun, { passive: true });
      funButton.addEventListener('touchstart', importFun, { passive: true });
      funButton.addEventListener('click', haveFun, { passive: true });
    }
  })();
  {%- endset -%}
  {{ js | jsmin | safe }}
</script>
