<ol reversed style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
  {% for post in postslist | reverse %}
    <li>
      <a href="{{ post.url | url }}" {% if post.url == url %}aria-current="page"{% endif %}>{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
      <time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      <ul class="tags-list list-inline" aria-label="Tagged">
        {%- for tag in post.data.tags -%}
          {%- if collections.tagList.indexOf(tag) != -1 -%}
            {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
            <li>
              <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
            </li>
          {%- endif -%}
        {%- endfor -%}
      </ul>
    </li>
  {% endfor %}
</ol>
