{% set urlUri = page.url | url | absoluteUrl(site.url) | urlencode %}
{% set titleUri = title | urlencode %}
<aside>
  <h2>Share</h2>
  <ul class="list-inline list-dots svg-margin-left">
    <li>
      <a
        href="https://www.facebook.com/sharer/sharer.php?u={{ urlUri }}"
        target="_blank"
        rel="noopener noreferrer"
        >Facebook{% include "icons/facebook.svg" %}</a
      >
    </li>
    <li>
      <a
        href="https://twitter.com/intent/tweet?text={{ titleUri }}&amp;url={{ urlUri }}&amp;via={{ site.twitter }}"
        target="_blank"
        rel="noopener noreferrer"
        >Twitter{% include "icons/twitter.svg" %}</a>
    </li>
    <li>
      <a
        href="https://www.reddit.com/submit?url={{ urlUri }}&title={{ titleUri }}"
        target="_blank"
        rel="noopener noreferrer"
        >Reddit{% include "icons/reddit.svg" %}</a>
    </li>
    <li>
      <a
        href="https://news.ycombinator.com/submitlink?u={{ urlUri }}&t={{ titleUri }}"
        target="_blank"
        rel="noopener noreferrer"
        >Hacker News{% include "icons/ycombinator.svg" %}</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ urlUri }}&amp;title={{ titleUri }}&amp;source={{ site.title | urlencode }}"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn{% include "icons/linkedin.svg" %}</a
      >
    </li>
  </ul>
</aside>
