{% set urlUri = page.url | url | absoluteUrl(site.url) | urlencode %}
{% set titleUri = title | urlencode %}
<aside aria-labelledby="share-page-heading">
  <h2 id="share-page-heading">Share Post</h2>
  <ul class="list-inline list-dots svg-margin-right">
    <li>
      <a
        href="https://www.facebook.com/sharer/sharer.php?u={{ urlUri }}"
        target="_blank"
        rel="noopener noreferrer"
        >{% include "icons/facebook.svg" %}Facebook</a
      >
    </li>
    <li>
      <a
        href="https://twitter.com/intent/tweet?text={{ titleUri }}&amp;url={{ urlUri }}&amp;via={{ site.twitter }}"
        target="_blank"
        rel="noopener noreferrer"
        >{% include "icons/twitter.svg" %}Twitter</a>
    </li>
    <li>
      <a
        href="https://www.reddit.com/submit?url={{ urlUri }}&title={{ titleUri }}"
        target="_blank"
        rel="noopener noreferrer"
        >{% include "icons/reddit.svg" %}Reddit</a>
    </li>
    <li>
      <a
        href="https://news.ycombinator.com/submitlink?u={{ urlUri }}&t={{ titleUri }}"
        target="_blank"
        rel="noopener noreferrer"
        >{% include "icons/ycombinator.svg" %}Hacker News</a
      >
    </li>
    <li>
      <a
        href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ urlUri }}&amp;title={{ titleUri }}&amp;source={{ site.title | urlencode }}"
        target="_blank"
        rel="noopener noreferrer"
        >{% include "icons/linkedin.svg" %}LinkedIn</a
      >
    </li>
  </ul>
</aside>
