---
permalink: /blog
layout: page
title: Blog
description: Infrequent Blog Posts
---
<div>
    {% for post in site.posts limit: 20 %}
    <div class="uk-panel uk-panel-box uk-panel-header uk-panel-divider" data-uk-scrollspy="{cls:'uk-animation-fade'}">
        {% if post.image contains "/assets/images/" or "http" %}
        <div class="uk-panel-teaser">
            <img src="{{ post.image }}">
        </div>
        {% endif %}
        <h3 class="uk-panel-title"><a href="{{ post.url }}">{{ post.title }}</a> &raquo; <small>{{ post.date | date: "%B %-d, %Y" }} by {{ site.authors[post.author].name }}</small></h3>
        {{ post.excerpt }}
    </div>
    {% endfor %}
</div>