---
permalink: /projects
layout: page
title: Projects
description: Personal Projects
---
{% for project in site.data.projects %}
<div class="uk-panel uk-panel-box uk-panel-header uk-panel-divider" data-uk-scrollspy="{cls:'uk-animation-fade'}">
    <div class="uk-panel-title">
        <h2>{{ project.name }}<small class="uk-align-medium-right">{{ project.range }}</small></h2>
        {{ project.status }}
    </div>
    {% if project.link %}<h4><a href="{{ project.link.href }}" target="_blank">{{ project.link.title }}</a></h4>{% endif %}
    <p>{{ project.description }}</p>
    <a href="https://github.com/{{ project.github }}" target="_blank"><i class="fa fa-lg fa-github"></i> {{ project.name }} on GitHub</a>
</div>{% endfor %}
