@font-face {
  font-family: 'Space Grotesk Variable';
  src: url('./SpaceGrotesk[wght].woff2') format('woff2'),
    url('./SpaceGrotesk[wght].ttf') format('truetype');
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
  font-feature-settings: 'ss01' on;
}
