/* this file is lazily imported by fun.mjs */

@import 'csshake/dist/csshake-default.css';

.fun {
  & a {
    color: deepskyblue;
    &:hover {
      color: orangered;
    }
  }
  & h1,
  & h2,
  & h3 {
    color: deeppink;
  }
  & > header,
  & > main,
  & > footer {
    animation: hue-rotate 2s linear infinite;
  }
}

@keyframes hue-rotate {
  from {
    filter: hue-rotate(0turn);
  }
  to {
    filter: hue-rotate(1turn);
  }
}
