{% assign author = site.data.authors[page.author] %}
<footer class="page-author">
  <div>
    <img
      src="https://www.gravatar.com/avatar/{{ site.data.authors.brian.gravatar }}?s=250"
      srcset="
        https://www.gravatar.com/avatar/{{ site.data.authors.brian.gravatar }}?s=250 1x,
        https://www.gravatar.com/avatar/{{ site.data.authors.brian.gravatar }}?s=500 2x,
        https://www.gravatar.com/avatar/{{ site.data.authors.brian.gravatar }}?s=750 3x
      "
      alt="Profile photo"
      itemprop="image"
    />
  </div>
  <div>
    <h2 itemprop="author">{{ author.name }}</h2>
    <p>{{ author.bio }}</p>
    <address>
      <div>
        <a
          href="https://twitter.com/{{ author.twitter }}"
          title="@{{ author.twitter }} on Twitter"
          class="svg-margin-right"
        >
          {% include icon.html icon="twitter" color="#1DA1F2" %}@{{
          author.twitter }}
        </a>
      </div>
      <div>
        <a
          href="https://instagram.com/{{ author.instagram }}"
          title="@{{ author.instagram }} on Instagram"
          class="svg-margin-right"
        >
          {% include icon.html icon="instagram" color="#e4405f" %}@{{
          author.instagram }}
        </a>
      </div>
      <div>
        <a href="{{ author.web }}" title="{{ author.web }}">{{ author.web }}</a>
      </div>
    </address>
  </div>
</footer>
