<footer class="uk-text-center">
    <p><a href="https://github.com/BrianMitchL" title="Brian Mitchell on Github" class="uk-icon-hover uk-icon-small uk-icon-github"></a><a href="https://www.linkedin.com/in/brianscottmitchell" title="Brian Mitchell on LinkedIn" class="uk-icon-hover uk-icon-small uk-icon-linkedin"></a><a href="https://twitter.com/BrianMitchL" title="@BrianMitchL on Twitter" class="uk-icon-hover uk-icon-small uk-icon-twitter"></a></p>
    <p>&copy; 2014<script>new Date().getFullYear()>2014&&document.write('-'+new Date().getFullYear());</script> Brian Mitchell</p>
</footer>