<footer class="uk-text-center" id="site-footer">
  <p>
    <a
      href="https://github.com/BrianMitchL"
      title="Brian Mitchell on Github"
      class="uk-icon-link uk-icon icon"
    >
      {% include icons/github.svg %}
    </a>
    <a
      href="https://www.linkedin.com/in/brianscottmitchell"
      title="Brian Mitchell on LinkedIn"
      class="uk-icon-link uk-icon icon"
    >
      {% include icons/linkedin.svg %}
    </a>
    <a
      href="https://twitter.com/BrianMitchL"
      title="@BrianMitchL on Twitter"
      class="uk-icon-link uk-icon icon"
    >
      {% include icons/twitter.svg %}
    </a>
  </p>
  <p>
    &copy; 2014<script>
      new Date().getFullYear() > 2014 &&
        document.write('-' + new Date().getFullYear());
    </script>
    Brian Mitchell
  </p>
</footer>
