<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/assets/images/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.27.2/css/uikit.min.css">
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
{% if page.url == '/' %}<style>html{background:#232323;}footer{color:#999;}footer a:hover{color:#ddd!important;}</style>{% endif %}
<link rel="author" href="/humans.txt" />
{% seo %}
{% feed_meta %}