<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<link rel="shortcut icon" href="/assets/images/favicon.ico">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/css/uikit.min.css" integrity="sha256-5CiOdD10LbS4L3cLPni0bqTuokepl5MKL0YcVmk4dsg=" crossorigin="anonymous" />
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/js/uikit-core.min.js" integrity="sha256-eERRhTwmb9uXVqL+DxQy8y5XW5jPkw66zQA6+CurC1M=" crossorigin="anonymous"></script>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.19/js/uikit-icons.min.js" integrity="sha256-n6wtdLMVITD1ZzNPVCAFA+S7BN1SDTZpr6QGsVSTqMM=" crossorigin="anonymous"></script>
{% if page.fontawesome %}
<script defer src="https://use.fontawesome.com/releases/v5.4.1/js/brands.js" integrity="sha384-lc/yFuYW3B0EW9B2QSpod2KeBxq6/ZizGwAW6mRLUe3kKUVlSBfDIVZKwKIz/DBg" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.4.1/js/fontawesome.js" integrity="sha384-ISRc+776vRkDOTSbmnyoZFmwHy7hw2UR3KJpb4YtcfOyqUqhLGou8j5YmYnvQQJ4" crossorigin="anonymous"></script>
{% endif %}
<link rel="stylesheet" href="/assets/css/style.css" type="text/css">
<link rel="author" href="/humans.txt" />
{% seo %}
{% feed_meta %}