<nav>
    <div>
        <div>
            <a href="/"><img src="/assets/images/BM-Logo.png" alt="Brian Mitchell Logo" title="Brian Mitchell Logo" style="height:40px;width:auto;display:inline;"><span> Brian Mitchell</span></a>
        </div>
        <div>
            <ul>
                {% assign url = page.url|remove:'index.html' %}
                {% for link in site.navigation %}
                <li {% if url == link.url %}class="active"{% endif %}>
                    <a href="{{ link.url }}" title="{{ link.title }}">{{ link.text }}</a>
                </li>{% endfor %}
            </ul>
        </div>
    </div>
</nav>