<section class="uk-margin-bottom" uk-margin>
  <a
    class="uk-button uk-button-default uk-button-small"
    href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | replace:'index.html','' | prepend: site.url | prepend: site.baseurl }}"
    target="_blank"
    >Share on Facebook {% include icon.html icon="facebook" %}</a
  >
  <a
    class="uk-button uk-button-default uk-button-small"
    href="https://twitter.com/intent/tweet?text={{ page.title | uri_escape }}&amp;url={{ page.url | replace:'index.html','' | prepend: site.url | prepend: site.baseurl }}&amp;via={{ site.twitter.username }}"
    target="_blank"
    >Share on Twitter {% include icon.html icon="twitter" %}</a
  >
  <a
    class="uk-button uk-button-default uk-button-small"
    href="https://www.reddit.com/submit?url={{ page.url | replace:'index.html','' | prepend: site.url | prepend: site.baseurl }}&title={{ page.title | uri_escape }}"
    target="_blank"
    >Share on Reddit {% include icon.html icon="reddit" %}</a
  >
  <a
    class="uk-button uk-button-default uk-button-small"
    href="https://news.ycombinator.com/submitlink?u={{ page.url | replace:'index.html','' | prepend: site.url | prepend: site.baseurl }}&t={{ page.title | uri_escape }}"
    target="_blank"
    >Share on Hacker News {% include icon.html icon="ycombinator" %}</a
  >
  <a
    class="uk-button uk-button-default uk-button-small"
    href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ page.url | replace:'index.html','' | prepend: site.url | prepend: site.baseurl }}&amp;title={{ page.title | uri_escape }}&amp;source=Brian%20Mitchell%27s%20Blog"
    target="_blank"
    >Share on LinkedIn {% include icon.html icon="linkedin" %}</a
  >
</section>
