html {
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 0.5rem 0;
    width: 100%;
}

.list-inline li {
    display: inline;
}

.uk-navbar-brand > img {
    height: 30px;
}

.uk-panel-teaser {
    text-align: center;

    @media (min-width: 768px) {
        img {
            max-height:300pt;
        }
    }
}