<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "head.njk" %}
    <style>{% getBundle "css" %}</style>
  </head>
  <body>
    {{ content | safe }}
    {%- include "footer.njk" -%}
    <script type="module">{% getBundle "js" %}</script>
    {%- include "analytics.njk" -%}
  </body>
</html>
