---
layout: layouts/default.njk
type: page
---
<a href="#maincontent" class="skip-link">Skip to content</a>
<header>
  {% include "nav.njk" %}
</header>
<main id="maincontent" itemscope itemtype="https://schema.org/WebPage">
  {% if title %}
  <h1 itemprop="name">{{ title }}</h1>
  {% endif %}
  {% include 'navigation-children.njk' %}
  {% include 'navigation-breadcrumbs.njk' %}
  {{ content | safe }}
</main>
