---
layout: layouts/default.njk
ogtype: article
type: post
---
<a href="#maincontent" class="skip-link">Skip to content</a>
<header>
  {% include "nav.njk" %}
</header>
<main id="maincontent">
  <article itemscope itemtype="https://schema.org/BlogPosting">
    {%- if image -%}
      <div class="article-teaser">
        <img itemprop="image" src="{{ image }}" alt="{{ imageAlt }}" />
      </div>
    {%- endif -%}
    <hgroup>
      <h1 itemprop="headline">{{ title }}</h1>
      <p>{{ description }}</p>
    </hgroup>
    <p class="flex-wrap-space-between">
      <span>
        Published on
      <time
        datetime="{{ page.date | htmlDateString }}"
        itemprop="datePublished"
      >{{ page.date | readableDate }}</time>
      {%- set pub = page.date | htmlDateString -%}
      {%- set mod = modified | htmlDateString -%}
      {%- if pub != mod -%}
        &nbsp;•&nbsp;Updated on
        <time
          datetime="{{ modified | htmlDateString }}"
          itemprop="dateModified"
        >{{ modified | readableDate }}</time>
      {%- endif -%}
      &nbsp;•&nbsp;<span title="Estimated Reading Time">{{ content | emojiReadTime }}</span>
      </span>
      <a href="https://github.com/BrianMitchL/brianm.me/blob/main/{{ page.inputPath }}">Edit on GitHub</a>
    </p>
    <hr />
    <div itemprop="articleBody">
      {{ content | safe }}
    </div>
    <hr />
    <footer>
      <aside aria-labelledby="tagged-heading">
        <h2 id="tagged-heading">Tagged</h2>
        <ul class="tags-list">
          {% for tag in tags %}
            {%- if collections.tagList.indexOf(tag) != -1 -%}
              {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
              <li>
                <a href="{{ tagUrl | url }}" rel="tag" class="tag">{{ tag }}</a>
              </li>
            {%- endif -%}
          {% endfor %}
        </ul>
      </aside>
      <hr />
      {% include "author.njk" %}
    </footer>
  </article>
</main>
