@import '@exampledev/new.css';
@import 'csshake/dist/csshake-default.css';

@import 'partials/global.pcss';
@import 'partials/utils.pcss';
@import 'partials/components.pcss';
@import 'partials/post.pcss';
@import 'partials/latex.pcss';
@import 'partials/prism.pcss';
@import 'partials/icons.pcss';
@import 'partials/fun.pcss';
