@import 'prism-themes/themes/prism-coldark-cold.css';
@import 'prism-themes/themes/prism-coldark-dark.css'
  (prefers-color-scheme: dark);
@import 'partials/global.pcss';
@import 'partials/utils.pcss';
@import 'partials/components.pcss';
@import 'partials/post.pcss';
@import 'partials/latex.pcss';
@import 'partials/icons.pcss';
