/* whole site */

body {
    margin-left:1em;
    margin-right:1em;
    font-size:18pt;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 18px;
}

.body {
    width: 100%;
}

#forkme {
    display: none;
}

#footer {
    font-size: 70%;
}

/* home page */

ul.posts span.seperator {
    display:none;
}

ul.posts a {
    display:block;
}

/* posts */

#post .meta {
    margin-left: 0em;
    text-align: center;
}

#disqus_thread {
    padding-left: 0%;
    padding-right: 0%;
}