---
---

@import 'contact';
@import 'post';

$primary-background: #232323;

html {
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    margin: 0.5rem;
    width: 100%;
}

.list-inline li {
    display: inline;
}

.uk-navbar-brand > img {
    height: 30px;
}

/* home
-------------------------------------------------- */
#main-parallax {
    background: url(/assets/images/norway.jpg) no-repeat center;
    background-size: cover;

    > div {
        text-shadow: 0 0 0.5em rgba(0, 0, 0, 1);
    }
}

.chevron-scroll {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 5vh;
    font-size: 5em;
    left: calc(50% - 0.5em);
    animation: bounce 4s 2s infinite;
    transition: 0.5s ease-in-out;

    &:hover, &:focus {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
        animation: none;
    }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translate3d(0,0,0);
    }
    40% {
        transform: translate3d(0,-2vh,0);
    }
    60% {
        transform: translate3d(0,-1vh,0);
    }
}

/* posts
-------------------------------------------------- */
.uk-panel-teaser {
    text-align: center;

    @media (min-width: 768px) {
        img {
            max-height:300pt;
        }
    }
}