html {
    position: relative;
    min-height: 100%;
}

body {
    /* Set the fixed height of the footer here */
    margin-bottom: 7em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 7em;
    text-align: center;
    padding: 0.5em 0;
    /*margin-top: 70px;*/
    font-size: 0.8em;
    border-top: 1px solid #FF6F00;
}

/* home
-------------------------------------------------- */

ul.posts {
    list-style-type: none;
}

/* posts
-------------------------------------------------- */
#shareButtons {
    border-top: 1px solid #FF6F00;
    border-bottom: 1px solid #FF6F00;
}

#shareButtons ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    margin-top: 10px;
}

#shareButtons ul li {
    display: inline;
}

#shareButtons ul li > * {
    height:20px;
    vertical-align: top;
}
