/* Note, this site uses bootstrap, so much of the formatting is already done */

/* whole site */

* {
    margin: 0;
}
html, body {
    height: 100%;
}

body {
    margin-left:10%;
    margin-right:10%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6em;
}


footer, .push{
    height: 6em;
}

footer {
    text-align: center;
    font-size: 80%;
    border-top: 2px solid orange;
    margin-top: 2em;
}

/* posts */

#post {
    background-color: #FEE3BE;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#post h1 {
    text-align: center;
}

#post .meta {

}
#postBody {
    margin-left: 1em;
    margin-right: 1em;
}

#disqus_thread {
    padding-left: 5%;
    padding-right: 5%;
}

/* pages */