* {
    margin: 0;
}
html, body {
    height: 100%;
}

#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -8em;
    padding-left: 10%;
    padding-right: 10%;
}

#disqus_thread {
    padding-left: 10%;
    padding-right: 10%;
}

footer, .push{
    height: 8em;
}

footer {
    text-align: center;
    font-size: 80%;
    border-top: 2px solid orange;
    margin-top: 2em;
}