---
---

@import 'contact';
@import 'post';

$primary-background: #232323;

html {
    font-family: -apple-system-font, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.list-inline li {
    display: inline;
}

.uk-navbar-brand > img {
    height: 30px;
}

/* home
-------------------------------------------------- */
#main-parallax {
    background: url(/assets/images/norway.jpg) no-repeat center top;
    background-size: cover;

    > div {
        text-shadow: 0 0 0.5em rgba(0, 0, 0, 1);
    }
}

.chevron-scroll {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    bottom: 5vh;
    font-size: 5em;
    left: calc(50% - 0.5em);

    &:hover, &:focus {
        color: rgba(255, 255, 255, 0.5);
        text-decoration: none;
    }
}

/* posts
-------------------------------------------------- */
.uk-panel-teaser {
    text-align: center;

    @media (min-width: 768px) {
        img {
            max-height:300pt;
        }
    }
}