/* whole site */

body {
    font-size:14pt;
}

h1 {
    font-size: 42px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 14px;
}

.wrap {
    width: 35em;
}

/* posts */

#disqus_thread {
    padding-left: 0%;
    padding-right: 0%;
}