---
layout: page
title: Blog
description: Infrequent Blog Posts
link: /blog
---
{% for post in paginator.posts %}
<div class="uk-card uk-card-small uk-card-default uk-margin-bottom" uk-scrollspy="cls:uk-animation-fade">
    {% if post.image != nil %}
    <div class="uk-card-media-top">
        <a href="{{ post.url }}"><img src="{{ post.image }}" alt="{{ post.title }} teaser image"></a>
    </div>
    {% endif %}
    <div class="uk-card-header">
        <h3 class="uk-card-title"><a href="{{ post.url }}">{{ post.title }}</a> <span
                uk-icon="icon: chevron-right"></span>
            <small>{{ post.date | date: "%B %-d, %Y" }} by {{ site.data.authors[post.author].name }}</small>
        </h3>
    </div>
    <div class="uk-card-body">
        {{ post.excerpt }}
    </div>
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<ul class="uk-pagination uk-flex-center">
    {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span
            class="uk-margin-small-right" uk-pagination-previous></span> Prev</a></li>
    {% else %}
    <li class="uk-disabled"><span><span class="uk-margin-small-right" uk-pagination-previous></span> Prev</span></li>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li class="uk-active"><span>{{ page }}</span></li>
    {% elsif page == 1 %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
    {% else %}
    <li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page
        }}</a></li>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next <span
            class="uk-margin-small-left" uk-pagination-next></span></a></li>
    {% else %}
    <li class="uk-disabled"><span>Next <span class="uk-margin-small-left" uk-pagination-next></span></span></li>
    {% endif %}
</ul>
{% endif %}