@font-face {
  font-family: 'Berkeley Mono';
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  src: url('./BerkeleyMono-Regular.woff2') format('woff2'),
       url('./BerkeleyMono-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Berkeley Mono';
  font-display: swap;
  font-weight: bold;
  font-style: normal;
  src: url('./BerkeleyMono-Bold.woff2') format('woff2'),
       url('./BerkeleyMono-Bold.woff') format('woff');
}
@font-face {
  font-family: 'Berkeley Mono';
  font-display: swap;
  font-weight: normal;
  font-style: italic;
  src: url('./BerkeleyMono-Italic.woff2') format('woff2'),
       url('./BerkeleyMono-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Berkeley Mono';
  font-display: swap;
  font-weight: bold;
  font-style: italic;
  src: url('./BerkeleyMono-BoldItalic.woff2') format('woff2'),
       url('./BerkeleyMono-BoldItalic.woff') format('woff');
}
