<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Brian Mitchell" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="/css/tablet.css" type="text/css" media="screen and (min-width:651px) and (max-width: 1024px), screen and (min-device-width: 768px) and (max-device-width: 1024px)" />
    <link rel="stylesheet" href="/css/mobile.css" type="text/css" media="handheld, screen and (max-width: 650px), screen and (max-device-width: 480px)" />
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="wrapper">
        <div class="title">
            <a href="/">Brian Mitchell</a>
            <a href="/">home</a>
        </div>
        {{ content }}
    </div>
<footer>
    <div class="contact">
        <p>
            © 2014 Brian Mitchell
        </p>
    </div>
    <div class="contact">
        <p>
            <a href="https://github.com/bman4789/">github.com/bman4789</a><br />
            <a href="https://twitter.com/tech4789/">twitter.com/tech4789</a><br />
            <a href="http://www.linkedin.com/in/brianscottmitchell">linkedin.com/in/brianscottmitchell</a>
        </p>
    </div>
</footer>

<a href="https://github.com/bman4789/bman4789.github.io"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-44772557-2', 'bman4789.github.io');
    ga('send', 'pageview');

</script>

</body>
</html>