---
layout: default
---

{% include nav.html %}
{% assign author = site.authors[page.author] %}
<div class="uk-container uk-container-center">
    <article class="uk-article">
        <h1 class="uk-article-title">{{ page.title }}</h1>
        <p class="uk-article-meta">Written by {{ author.name }} on {{ page.date | date: "%B %-d, %Y %I:%M %p %Z" }}</p>
        <hr class="uk-article-divider">
        {{ content }}
        <hr class="uk-article-divider">
        <div class="uk-comment">
            <header class="uk-comment-header">
                <img class="uk-comment-avatar" src="https://1.gravatar.com/avatar/{{ author.gravatar }}" alt="Gravatar Thumbnail">
                <h4 class="uk-comment-title">{{ author.name }}</h4>
                <div class="uk-comment-meta"><a href="mailto:{{ author.email }}">{{ author.email }}</a></div>
                <div class="uk-comment-meta"><i class="fa fa-twitter" style="color:#55ACEE;" aria-hidden="true"></i> <a href="https://twitter.com/{{ author.twitter }}" title="@{{ author.twitter }} on Twitter">@{{ author.twitter }}</a></div>
                <div class="uk-comment-meta"><a href="{{ author.web }}" title="{{ author.web }}">{{ author.web }}</a></div>
            </header>
        </div>
    </article>

    <div id="shareButtons">
        <hr>
        <ul class="list-inline">
            <li>
                <!--facebook-->
                <div class="fb-share-button" data-href="{{ site.url }}{{ page.url }}" data-type="button_count"></div>
            </li>
            <li>
                <!--twitter-->
                <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.url }}{{ page.url }}" data-text="{{ page.title }}" data-via="{{ site.twitter.username }}">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </li>
            <li>
                <!--google+-->
                <div class="g-plusone" data-size="medium"></div>
                <script type="text/javascript">
                    (function() {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                </script>
            </li>
            <li>
                <!--reddit-->
                <script type="text/javascript">
                    reddit_url = "{{ site.url }}{{ page.url }}";
                    reddit_title = "{{ page.title }}";
                </script>
                <script type="text/javascript" src="//www.reddit.com/static/button/button1.js"></script>
            </li>
        </ul>
        <hr>
    </div>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        var disqus_shortname = '{{ site.comments.disqus.shortname }}';
        var disqus_identifier = '{{ page.id }}';
        var disqus_url = '{{ site.url }}{{ page.url }}';
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>