---
permalink: /feed.json
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ site.title }}",
  "home_page_url": "{{ '/' | url | absoluteUrl(site.url) }}",
  "feed_url": "{{ permalink | url | absoluteUrl(site.url) }}",
  "description": "{{ site.description }}",
  "icon": "{{ site.image | url | absoluteUrl(site.url) }}",
  "favicon": "{{ '/favicon.ico' | url | absoluteUrl(site.url) }}",
  "language": "en-US",
  "author": {
    "name": "{{ site.author.name }}",
    "url": "{{ site.author.web }}",
    "avatar": "{{ site.author.image | url | absoluteUrl(site.url) }}"
  },
  "authors": [{
    "name": "{{ site.author.name }}",
    "url": "{{ site.author.web }}",
    "avatar": "{{ site.author.image | url | absoluteUrl(site.url) }}"
  }],
  "items": [
  {%- for post in collections.post | reverse | head(10) -%}
    {%- set absolutePostUrl -%}{{ post.url | url | absoluteUrl(site.url) }}{%- endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "date_published": "{{ post.date | dateToRfc3339 }}",
      {% if post.data.modified %}"date_modified": "{{ post.data.modified | dateToRfc3339 }}",{%  endif %}
      "author": {
        "name": "{{ site.author.name }}",
        "url": "{{ site.author.web }}",
        "avatar": "{{ site.author.image | url | absoluteUrl(site.url) }}"
      },
      "summary": "{{ post.data.description }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | dump | safe }}{% else %}""{% endif %}
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor -%}
  ]
}
