---
permalink: /feed.json
eleventyExcludeFromCollections: true
---
{
  "version": "https://jsonfeed.org/version/1",
  "title": "{{ site.title }}",
  "home_page_url": "{{ '/' | url | absoluteUrl(site.url) }}",
  "feed_url": "{{ permalink | url | absoluteUrl(site.url) }}",
  "description": "{{ site.description }}",
  "icon": "{{ '/assets/images/BM-Logo.png' | url | absoluteUrl(site.url) }}",
  "favicon": "{{ '/assets/images/favicon.ico' | url | absoluteUrl(site.url) }}",
  "author": {
    "name": "{{ authors.brian.name }}",
    "url": "{{ authors.brian.web }}",
    "avatar": "https://gravatar.com/avatar/{{ authors.brian.gravatar }}?s=512"
  },
  "items": [
  {%- for post in collections.post | reverse | head(10) -%}
    {%- set absolutePostUrl -%}{{ post.url | url | absoluteUrl(site.url) }}{%- endset -%}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title }}",
      "date_published": "{{ post.date | dateToRfc3339 }}",
      "date_modified": "{{ post.data.modified | toUTCDate | dateToRfc3339 }}",
      "author": {
        "name": "{{ authors[post.data.author].name }}",
        "url": "{{ authors[post.data.author].web }}",
        "avatar": "https://gravatar.com/avatar/{{ authors[post.data.author].gravatar }}?s=512"
      },
      "summary": "{{ post.data.description }}",
      "content_html": {% if post.templateContent %}{{ post.templateContent | dump | safe }}{% else %}""{% endif %}
    }
    {%- if not loop.last -%}
    ,
    {%- endif -%}
    {%- endfor -%}
  ]
}
