---
permalink: '_headers'
eleventyExcludeFromCollections: true
---
/.well-known/webfinger
  content-type: application/jrd+json; charset=UTF-8
/feed.xml
  content-type: application/atom+xml; charset=UTF-8
/feed.json
  content-type: application/feed+json; charset=UTF-8
