---
layout: "layouts/page.njk"
redirect_from: '/contact'
description: Senior Frontend Software Engineer and Web Developer
disableSubNav: true
---
<section class="bio text-center" aria-label="short biography">
  <img
    src="{{ site.author.image }}"
    alt="Profile photo of Brian Mitchell"
  />
  <div style="position: relative;">
    <div id="morph-container">
      {% include "morph-blobs.svg" %}
    </div>
    <h1>
      Brian Mitchell
      <span class="emoji wave" role="img" aria-label="wave emoji">👋🏻</span>
    </h1>
    <p>
      Senior <span class="enhance">Frontend</span> Software Engineer and Web Developer
    </p>
    <p>{% emoji "🗺📍", "Location" %}Minneapolis, MN, USA.</p>
    <p>
      Co-organizer of <a href="https://javascriptmn.com" target="_blank" rel="noopener">JavaScriptMN</a>.
      Board on <a href="https://streets.mn" target="_blank" rel="noopener">Streets.mn</a>.
      Bike commuter.
      <a href="http://my.pronoun.is/he" target="_blank" rel="noopener">he/him</a>.
    </p>
  </div>
</section>

<section class="text-center" aria-labelledby='where-to-find-me'>
  <h2 id="where-to-find-me">Where to Find Me</h2>
  <ul class="text-lg find-me-list" aria-label="featured find me">
    {%- for feature in findMe.feature | sort(false, true, 'title') -%}
      <li>
        <a href="{{ feature.url }}" rel="me" target="_blank" rel="noopener" style="--find-me-color: {{ feature.color }}">{{ feature.title }}</a>
      </li>
    {%- endfor -%}
  </ul>
  <ul class="text-md find-me-list" aria-label="other find me">
    {%- set findMeNormal = findMe.normal | sort(false, true, 'title') -%}
    {%- for normal in findMeNormal -%}
    <li>
      <a href="{{ normal.url }}" rel="me" target="_blank" rel="noopener" style="--find-me-color: {{ normal.color }}">{{ normal.title }}</a>
    </li>
    {%- endfor -%}
  </ul>
</section>

<section class="text-center" aria-labelledby="top-recent-music">
  <h2 id="top-recent-music">Top Recent Music</h2>
  <p>
    I listen to a lot of music, here's who I've been listening to in the last
    month.
  </p>
  <div id="last-fm-artists-root"></div>
  <noscript>
    <p>
      {% emoji "⚠️", "warning sign" %} JavaScript is required to display this content.
    </p>
  </noscript>
</section>

<script
  defer
  src="{{ '/assets/js/lastfm-artists.js' | url | hashify }}"
></script>

<script>
  {%- set js -%}
  (function () {
    const mediaQuery = window.matchMedia("(prefers-reduced-motion: reduce)");

    if (mediaQuery.matches) {
      const el = document.getElementById("morph-blobs");
      el.pauseAnimations();
    }

    const handleMedia = (e) => {
      const el = document.getElementById("morph-blobs");
      if (e.matches) {
        el.pauseAnimations();
      } else {
        el.unpauseAnimations();
      }
    };
    mediaQuery.addEventListener("change", handleMedia);
  })();
  {%- endset -%}
  {{ js | jsmin | safe }}
</script>
