---
layout: page
redirect_from: '/contact'
description: Senior Frontend Software Engineer and Web Developer
disableSubNav: true
---

<section class="bio text-center glass">
    <img
      src="{{ site.author.image }}"
      alt="Profile photo of Brian Mitchell"
    />
  <div>
    <h1>
      Hi, I'm Brian Mitchell!
      <span class="emoji wave" role="img" aria-label="wave">👋🏻</span>
    </h1>
    <p>
      Senior <span class="enhance">Frontend</span> Software Engineer and Web Developer
    </p>
    <p>
      Co-organizer of <a href="https://javascriptmn.com">JavaScriptMN</a>.
      Occasionally a lighting designer. Cyclist.
      <a href="http://my.pronoun.is/he">he/him</a>.
    </p>
    <p>
      <span
        class="emoji"
        role="img"
        title="Software Engineer"
        aria-label="Software Engineer"
        >👨🏻‍💻</span
      >
      at
      <a href="https://twitter.com/CHRobinson" title="C.H. Robinson on Twitter"
        >@CHRobinson</a
      >.
    </p>
    <p>
      <span class="emoji" role="img" title="Podcaster" aria-label="Podcaster"
        >🎙</span
      >
      at
      <a href="https://twitter.com/TheNexusTV" title="The Nexus TV on Twitter"
        >@TheNexusTV</a
      >.
    </p>
    <p>
      <span class="emoji" role="img" title="Graduate" aria-label="Graduate"
        >👨🏻‍🎓</span
      >
      of
      <a
        href="https://twitter.com/UMNMorris"
        title="The University of Minnesota Morris on Twitter"
        >@UMNMorris</a
      >.
    </p>
  </div>
</section>

<section class="text-center glass">
  <h2>Where to Find Me</h2>
  <ul class="list-glass">
    {%- for feature in findMe.feature | sort(false, true, 'icon') -%}
      <li class="glass">
        <a
          href="{{ feature.url }}"
          class="text-150"
        >
          {% include 'icons/' + feature.icon + '.svg' %}
          {{ feature.title }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
  <ul class="list-glass">
    {%- set findMeNormal = findMe.normal | sort(false, true, 'icon') -%}
    {%- for normal in findMeNormal -%}
    <li class="glass">
      <a
        href="{{ normal.url }}"
      >
        {% include 'icons/' + normal.icon + '.svg' %}
        {{ normal.title }}
      </a>
    </li>
    {%- endfor -%}
  </ul>

  <p>
    I am a co-host on
    <a href="http://thenexus.tv/category/pk/" title="PodKit">PodKit</a>, a
    podcast about Apple inclined Web Developers discussing interesting
    technology and development related topics.
  </p>
</section>

<section id="last-fm-artists-root" class="text-center glass"></section>

<script
  defer
  src="{{ '/assets/js/lastfm-artists.js' | url | hashify }}"
></script>
