---
layout: page
title: Posts
description: Infrequent Blog Posts
redirect_from: [/blog/]
pagination:
  data: collections.post
  size: 5
  reverse: true
  alias: posts
eleventyComputed:
  metaTitle: "{% if pagination.pageNumber > 0 %}Posts | Page {{ pagination.pageNumber + 1 }}{% else %}Posts{% endif %}"
permalink: "posts/{% if pagination.pageNumber > 0 %}/{{ pagination.pageNumber + 1 }}{% endif %}/index.html"
eleventyNavigation:
  key: Posts
  order: 2
---

{%- for post in posts -%}
  <article>
    {%- if post.data.image -%}
    <div class="article-teaser">
      <img src="{{ post.data.image }}" alt="{{ post.data.imageAlt }}" />
    </div>
    {%- endif -%}
    <h2>
      <a href="{{ post.url }}" class="link-heading">{{ post.data.title }}</a>
    </h2>
    <p>
      <time
        datetime="{{ post.date | htmlDateString }}"
        itemprop="datePublished"
      >
        {{ post.date | readableDate }}
      </time>
      •
      <span title="Estimated Reading Time">
        {{ post.templateContent | emojiReadTime }}
      </span>
      •
      <span class="text-075">
      {%- for tag in post.data.tags -%}
        {%- if collections.tagList.indexOf(tag) != -1 -%}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
        {%- endif -%}
      {%- endfor -%}
      </span>
    </p>
    <p>
      {%- if post.data.excerpt -%}
        {{ post.data.excerpt | safe }}
      {%- else -%}
        {% excerpt post %}
      {% endif %}
    </p>
  </article>
  {% if not loop.last %}
  <hr />
  {% endif %}
{%- endfor -%}

{%- if pagination.items | length > 1 -%}
<ul class="pagination">
  {%- if pagination.href.previous -%}
    <li><a href="{{ pagination.href.previous }}">Previous</a></li>
  {%- else -%}
    <li>Previous</li>
  {%- endif -%}

  {%- for href in pagination.hrefs -%}
    {%- if loop.index0 == pagination.pageNumber -%}
      <li>{{ loop.index }}</li>
    {%- else -%}
      <li><a href="{{ href }}">{{ loop.index }}</a></li>
    {%- endif -%}
  {%- endfor -%}

  {%- if pagination.href.next -%}
    <li><a href="{{ pagination.href.next }}">Next</a></li>
  {%- else -%}
    <li>Next</li>
  {%- endif -%}
</ul>
{%- endif -%}
