---
layout: "layouts/page.njk"
title: Projects
description: Personal Projects
eleventyNavigation:
  key: Projects
  order: 3
---
<ol class="projects">
  {% for repo in github.repos %}
    <li itemscope itemtype="https://schema.org/SoftwareSourceCode" class="repo">
        <div class="repo-title inline-flex-center">
          {% octicon "repo" %}<a href="{{ repo.html_url }}" itemprop="codeRepository name">{{ repo.name }}</a>
        </div>
        <p itemprop="description">{{ repo.description }}</p>
        {% if repo.homepage %}
          <a href="{{ repo.homepage }}" itemprop="url" target="_blank" rel="noopener">
            {{ repo.homepage }}
          </a>
        {% endif %}
        <p class="repo-meta">
          {% if repo.language %}
          <span class="text-nowrap inline-flex-center">
            <span class="language-color" style="background-color: {{ repo.language_color }};"></span>
            <span itemprop="programmingLanguage">{{ repo.language }}</span>
          </span>
          {% endif %}
          {% if repo.stargazers_count %}
            <a
              href="{{ repo.stargazers_url }}"
              class="text-nowrap inline-flex-center text-decoration-none"
              target="_blank"
              rel="noopener"
            >
              {% octicon "star" %}{{ repo.stargazers_count }}<span class="visually-hidden">Stars</span>
            </a>
          {% endif %}
          {% if repo.forks_count %}
            <a
              href="{{ repo.forks_url }}"
              class="text-nowrap inline-flex-center text-decoration-none"
              target="_blank"
              rel="noopener"
            >
              {% octicon "git-branch" %}{{ repo.forks_count }}<span class="visually-hidden">Forks</span>
            </a>
          {% endif %}
        </p>
    </li>
  {% endfor %}
</ol>
