---
permalink: /tags/
layout: page
title: Tags
eleventyNavigation:
  key: Tags
  parent: Posts
disableSubNav: true
---

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}
