---
permalink: /tags/
layout: page
title: Tags
eleventyNavigation:
  key: Tags
  parent: Posts
disableSubNav: true
---

<ul class="list-inline">
  {% for tag in collections.tagList %}
    {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
    <li>
      <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>
