name: Build Site

on:
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: 'Create env file'
        run: |
          echo "GH_PAT=${{ secrets.GH_PAT }}" > .env
      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'npm'
      - name: Install deps
        run: npm ci
      - name: Build site
        run: npm run build
